@page
<script src="~/js/jquery-3.3.1.js"></script>
<script src="~/js/bootstrap-3.3.7/js/bootstrap.js"></script>
<link href="~/js/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />

<link href="~/pages/Index/contact-list.css" rel="stylesheet" />
<link href="~/pages/Index/chat-window.css" rel="stylesheet" />
<link href="~/pages/Index/register.css" rel="stylesheet" />
<script src="~/pages/Index/chat-window.js"></script>
<script src="~/pages/Index/register.js"></script>

<div class="row">&nbsp;</div>
<!-- Logs y Register -->

    <div class="container" style="margin-top:30px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Welcome!</strong>
                </h3>
            </div>
            <div class="registerLog"></div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" class="form-control" id="userName" placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-sm btn-default" id="registerButton">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="users-panel">
    <div class="container" style="margin-top:30px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Online users</strong>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3 chat_sidebar">
                        <div class="row">
                            <ul id="userList"></ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Chat Publico -->
<div class="row" id="public-chat-panel">
    <div class="container" style="margin-top:30px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Public chat</strong>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="messageInput" placeholder="Write your message here...">
                    </div>
                    <button type="button" class="btn btn-sm btn-default" id="sendMessageButton">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Chat Privado -->
<div id="private-chat-panel" class="row main_section">
    <div class="container" style="margin-top:30px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Private chat</strong>
                </h3>
            </div>
            <div class="privateLog"></div>
            <div class="panel-body">
                <div class="chat_container">
                    <div class="col-sm-3 chat_sidebar">
                        <div class="row">
                            <div class="member_list">
                                <h5>Users online</h5>
                                <ul class="me-contact list-unstyled"></ul>
                                <ul class="other-contacts list-unstyled"></ul>
                            </div>
                        </div>
                    </div>
                    <!--chat_sidebar-->
                    <div id="private-chat" class="chat-window col-sm-9 message_section">
                        <div class="row frame">
                            <div class="chat_area">
                                <ul></ul>
                            </div><!--chat_area-->
                            <div class="message_write">
                                <div class="message-section">
                                    <div class="msj-rta macro">
                                        <div class="text text-r" style="background:whitesmoke !important">
                                            <input type="text" id="messagePrivateInput" class="mytext" placeholder="Type a message" />
                                        </div>
                                    </div>
                                    <div style="padding:10px;" class="send">
                                        <span id="sendPrivateButton" class="send-button glyphicon glyphicon-share-alt"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<form id="formUpload" name="formUpload" enctype="multipart/form-data" method="post">
    <div class="buttons">
        <div class="upload-button">
            <div class="label">Click me!</div>
            <input id="file" name="file" type="file" size="1" onchange="uploadFiles('file');" />
        </div>
    </div>
</form>


<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
