@page
<link href="~/js/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
<link href="~/pages/Index/chat-window.css" rel="stylesheet" />

<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-12">
        <ul id="logList"></ul>
    </div>
    <div class="col-12">
        User..........<input type="text" id="userInput" />
        <input type="button" id="registerButton" value="Register" />
        <hr>
        CONNECTED USERS:
        <div class="col-12">
            <ul id="userList"></ul>
        </div>

        <hr>
        PUBLIC CHAT:
        <br />
        Message...<input type="text" id="messageInput" />
        <input type="button" id="sendButton" value="Send Message" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>
<hr>
PRIVATE CHAT:
<br />
        TO (User ID): <input type="text" id="userToInput" />
<input type="button" id="openPrivateChat" value="Open Chat" />
<br />

<div id="private-chat" class="chat-window col-sm-3 col-sm-offset-4 frame">
    <div class="frame">
        <ul></ul>
        <div class="message-section">
            <div class="msj-rta macro">
                <div class="text text-r" style="background:whitesmoke !important">
                    <input type="text" id="messagePrivateInput" class="mytext" placeholder="Type a message" />
                </div>
            </div>
            <div style="padding:10px;" class="send">
                <span id="sendPrivateButton" class="send-button glyphicon glyphicon-share-alt"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="messagesPrivateList"></ul>
    </div>
</div>
<input type="button" id="closePrivateButton" value="Close private chat" />
<hr>

<script src="~/js/jquery-3.3.1.js"></script>
<script src="~/js/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/pages/Index/chat-window.js"></script>